<div id="app">  
    <navbar></navbar>
    <!-- route outlet -->
    <!-- component matched by the route will render here -->
    <div class="container">
        <router-view :key="$route.path"></router-view>
    </div>   
</div>